<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_logo_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".BidsDetailsActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.driver.DriverAboutUsActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.driver.DriverSettingsActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.driver.DriverProfileActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.driver.DriverOTPVerifyActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.host.PostCreateActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.otpVerifications.OTPVerificationLoginActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.driver.DriverDashoardActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.host.SettingsActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".models.user.ProfileActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.host.AboutUsActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.host.HostDashoardActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.otpVerifications.OTPManageActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.languageSelection.ChooseLanguageActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.driver.VehicleRegActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.driver.DriverRegistrationActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.host.ClientRegistrationActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.registrationSelection.RegistrationActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:theme="@style/AppNewTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ahn.vehiclerentapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".notification.FCMService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>